// 모바일

@media all and (min-width: 480px) and (max-width: 767px) {
    $font_size_small: 11px;
    $font_size: 12px;
    $font_size_big: 13px;

    /* 모바일 패치 (아이패드 글자확대방지) */
    html {
        -webkit-text-size-adjust: none;
    }


    * {
        box-sizing: border-box;
        word-break: keep-all;
        margin: 0 auto;
        padding: 0;
        font-family: 'Noto Sans KR', sans-serif;
    }

    h3 {
        font-size: $font_size_big;
        font-weight: 700;
    }

    body {
        width: 100%;
        height: 100%;
    }

    // reset


    #container {

        overflow: hidden;
        border-radius: 30px;
        box-shadow: 0 12px 44px 0 rgb(59 74 125 / 12%);
        background-color: #fff;
        width: 70%;

        height: auto;
        text-align: center;

        .img-contain {
            margin-bottom: 40px;

            img {

                width: 100%;
                height: auto;
            }

        }

        .inquiry {
            padding-top: 0;
            padding-bottom: 80px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: left;

            .inq-p {
                margin-bottom: 13px;
            }

            .box-1,
            .box-2,
            .box-3,
            .box-4 {
                margin-bottom: 20px;

                input {
                    font-size: 10px;
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    border-style: none;
                    border: 1px solid #e8e8e8;
                    padding-left: 20px;
                    font-size: 10px;

                }
            }

            .box-5 {
                .companyScale {
                    margin-bottom: 20px;
                    font-size: 10px;
                    color: #7D7D7D;
                }
            }

            .box-6 {
                margin-bottom: 40px;

                #inquiry-text {
                    font-size: 10px;
                    width: 100%;
                    height: 100px;
                    border-radius: 5px;
                    border-style: none;
                    border: 1px solid #e8e8e8;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 10px;

                }

            }

            .boundary {
                width: 100%;
                border: 1px dashed #979797;

                margin-bottom: 40px;
            }

            .info-agree-box {
                h3 {
                    margin-bottom: 10px;
                }

                .agree-check-box {
                    margin-bottom: 10px;

                    .chk-s {
                        font-size: 13px;
                    }
                }

                .info-text {
                    ul {
                        margin-bottom: 50px;
                        padding-left: 0;

                        li {
                            text-align: left;
                            list-style: none;
                            font-size: $font_size_small;
                            font-weight: 400;
                            color: #8888;
                            line-height: 15px;
                            margin-bottom: 5px;

                        }
                    }

                }

                .inq-btn {
                    border: 1px solid red;
                    text-align: center;
                    width: 100%;
                    height: 70px;
                    border-radius: 20px;
                    background-color: #eb4236;
                    cursor: pointer;

                    .inq-btn-s {
                        color: #fff;
                        text-align: center;
                        font-size: $font_size_big ;
                        font-weight: 700;
                        margin-bottom: 0;
                    }

                }
            }
        }

    }
}


// 모바일 해상도 (제일 낮은 해상도)

@media all  and (max-width: 479px) {
    $font_size_small: 9px;
    $font_size: 10px;
    $font_size_big: 11px;
// 모바일 해상도 (제일 낮은 해상도)

    /* 모바일 패치 (아이패드 글자확대방지) */
    html {
        -webkit-text-size-adjust: none;
    }


    * {
        box-sizing: border-box;
        word-break: keep-all;
        margin: 0 auto;
        padding: 0;
        font-family: 'Noto Sans KR', sans-serif;

    }

    h3 {
        font-size: $font_size_big;
        font-weight: 700;
    }

    body {
        width: 100%;
        height: 100%;
    }

    // reset


    #container {

        overflow: hidden;
        border-radius: 30px;
        box-shadow: 0 12px 44px 0 rgb(59 74 125 / 12%);
        background-color: #fff;
        width: 70%;

        height: auto;
        text-align: center;

        .img-contain {
            margin-bottom: 40px;

            img {

                width: 100%;
                height: auto;
            }

        }

        .inquiry {
            padding-top: 0;
            padding-bottom: 80px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: left;

            .inq-p {
                margin-bottom: 13px;
            }

            .box-1,
            .box-2,
            .box-3,
            .box-4 {
                margin-bottom: 20px;

                input {
                    font-size: 10px;
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    border-style: none;
                    border: 1px solid #e8e8e8;
                    padding-left: 20px;
                    font-size: 10px;

                }
            }

            .box-5 {
                .companyScale {
                    margin-bottom: 20px;
                    font-size: 10px;
                    color: #7D7D7D;
                }
            }

            .box-6 {
                margin-bottom: 40px;

                #inquiry-text {
                    font-size: 10px;
                    width: 100%;
                    height: 100px;
                    border-radius: 5px;
                    border-style: none;
                    border: 1px solid #e8e8e8;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 10px;

                }

            }

            .boundary {
                width: 100%;
                border: 1px dashed #979797;

                margin-bottom: 40px;
            }

            .info-agree-box {
                h3 {
                    margin-bottom: 10px;
                }

                .agree-check-box {
                    margin-bottom: 10px;

                    .chk-s {
                        font-size: 12px;
                    }
                }

                .info-text {
                    ul {
                        margin-bottom: 50px;
                        padding-left: 0;

                        li {
                            text-align: left;
                            list-style: none;
                            font-size: $font_size_small;
                            font-weight: 400;
                            color: #8888;
                            line-height: 15px;
                            margin-bottom: 5px;

                        }
                    }

                }

                .inq-btn {
                    border: 1px solid red;
                    text-align: center;
                    width: 100%;
                    height: 70px;
                    border-radius: 20px;
                    background-color: #eb4236;
                    cursor: pointer;

                    .inq-btn-s {
                        color: #fff;
                        text-align: center;
                        font-size: $font_size_big ;
                        font-weight: 700;
                        margin-bottom: 0;
                    }

                }
            }
        }

    }
};